<div class="sidenav navbar-expand-lg navbar-light bg-light col-4" >
    <h2>Configurations</h2>
    <button type="button" class="btn btn-default btn-md" >Company Details</button><br>
    <button type="button" class="btn btn-default btn-md" >Desigations</button><br>
    <button type="button" class="btn btn-default btn-md" (click)="onPress()">EmployeeDetails</button>
    <button type="button" class="btn btn-default btn-md" >Departments</button><br>
    <button type="button" class="btn btn-default btn-md" (click)="onclick()">Employees</button>
    
</div>

