.main{
    margin-left: 120px;
    font-size: 28px;
    padding: 0px 10px;
    
}
.navbar{
    height: 66px;
    background-color: #f1f1f1;
}
#logout{
   margin-left: 80%;
}
.navbar h1{
    color: blue;
    padding-left: 5%;
}
.div1{
    
}
// .navbar h3{
//     padding-left: 779px;
// }

